.action {
  font-size: 1rem;

  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 9.0625em;
}

.action-btn {
  font-family: 'icomoon';

  color: #8da5b8;
}

.action-viewport {
  display: block;

  padding: .58em 1.1em;

  -webkit-transition: color .1s ease-in-out;
          transition: color .1s ease-in-out;
  text-align: center;

  color: #8da5b8;
}

.action-viewport:after {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 2px;
  left: 0;

  display: block;

  height: 1px;

  content: '';
  -webkit-transition: background-color .1s ease-in-out;
          transition: background-color .1s ease-in-out;

  background-color: #8da5b8;
}

.action-btn {
  position: absolute;
  top: 45%;

  height: 100%;
  padding: 0;

  -webkit-transition: color .1s ease-in-out;
          transition: color .1s ease-in-out;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.action-add {
  right: 0;
}

.action-minus {
  left: 0;
}

.action--changed .action-viewport,
.action-btn:hover,
.action-btn:hover ~ .action-viewport {
  color: #fff;
}

.action-btn:hover ~ .action-viewport:after {
  background-color: #fff;
}
