#chart {
  width: 53%;
  height: 20rem;
  margin: 0 auto;
}

.tabs-list {
  font-size: .95rem;

  display: inline-block;
}

.tabs-list__item {
  position: relative;

  float: left;
}

.tabs-list__item:first-child .tabs-list__item-btn {
  padding-left: 0;
}

.tabs-list__item:last-child .tabs-list__item-btn {
  padding-right: 0;
}

.tabs-list__item-btn {
  font-family: 'PT Sans', sans-serif;

  padding: 0 .5em;

  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;

  color: #8da5b8;
}

.tabs-list__item-btn:after {
  font-size: .9em;

  position: absolute;
  top: -.01rem;
  right: -.21em;

  content: '|';

  color: #8da5b8 !important;
}

.tabs-list__item:last-child .tabs-list__item-btn:after {
  display: none;
}

.tabs-list__item-btn.active,
.tabs-list__item-btn:hover {
  color: #fff;
}
