@font__primary: 'Roboto', sans-serif;
@font__secondary: 'PT Sans', sans-serif;
@font__icon: 'icomoon';

@fontColor__primary: #fff;
@fontColor__secondary: #8da5b8;

@category__work: #FFB10A;
@category__education: #47A8E2;
@category__hobby: #B765CE;
@category__sport: #E96663;
@category__other: #00D6D9;

@priority__urgent: #FB5149;
@priority__high: #FFA643;
@priority__middle: #FFDE49;
@priority__low: #00BE9C;

@breakpoint__laptop: 1024px;
@breakpoint__mobile: 425px;
