@font__primary: 'Roboto', sans-serif;
@font__secondary: 'PT Sans', sans-serif;
@font__icon: 'icomoon';

@white: #fff;

// Primary
@primaryColorCommon: #2A3F50;
@primaryColorCommon__lighten: #8DA5B8;

@primaryColorGreen: #1ABC9C;
@primaryColorGreen__darken: #16A085;
@primaryColorGreen__lighten: #62D3BD;

@primaryColorBlue: #59ABE3;
@primaryColorBlue__darken: #368BC5;
@primaryColorBlue__lighten: #82C7E0;

@primaryColorRed: #F85C4C;
@primaryColorRed__darken: #C94D47;
@primaryColorRed__lighten: #F99595;

// Priority
@priorityUrgent: #F85C4C;
@priorityUrgent__darken: #C94D47;

@priorityHigh: #FFA841;
@priorityHigh__darken: #F08E19;

@priorityMiddle: #FDDC43;
@priorityMiddle__darken: #E8BD09;

@priorityLow: #1ABC9C;
@priorityLow__darken: #16A085;

// Categories
@categoryWork: #FFB200;
@categoryWork__darken: #DD8F05;

@categoryEducation: #59ABE3;
@categoryEducation__darken: #368BC5;

@categoryHobby: #B470D0;
@categoryHobby__darken: #9849B8;

@categorySport: #E16C65;
@categorySport__darken: #B74E4B;

@categoryOther: #00D4D9;
@categoryOther__darken: #04A5A5;

// Breakpoints
@breakpoint__laptop: 1024px;
@breakpoint__mobile: 425px;
