.settings-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 5.125em;
}

.settings-input-heading,
.settings-input .action {
  display: inline-block;
}

.changing-state .action-viewport {
  color: #fff;
}

.settings-input-heading {
  position: relative;
  text-transform: uppercase;

  width: 10em;
}

.settings-input-heading:after {
  position: absolute;
  top: 50%;
  left: -2.6em;

  width: 1.18em;
  height: 1.18em;

  content: '';
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);

  border-radius: 50%;
}

.after-orange .settings-input-heading:after {
  background-color: #ffb200;
}

.after-dark-turquoise .settings-input-heading:after {
  background-color: #00d4d9;
}

.after-picton-blue .settings-input-heading:after {
  background-color: #59abe3;
}

.settings-input-text {
  line-height: 1.2em;

  color: #8da5b8;
  margin: .7em 0 0 0;
}
