.task-list {

  &-block {
    margin: 1.7em 0 2.1em 0;

    &-controls {
      position: relative;
      display: flex;
      margin: 0;

      &-glbl-btn {
        font-family: @font__secondary;
        font-size: 1.25em;
        font-weight: 700;
        position: relative;
        padding: 0;
        transition: color .1s ease-in-out;
        color: @primaryColorCommon__lighten;

        &:hover {
          color: @white;
        }

        &::after {
          font-family: @font__icon;
          font-size: .55em;
          position: absolute;
          top: 50%;
          right: -1.5em;
          content: '\e906';
          transform: translate(0, -50%);
        }
      }
    }
  }

  &-message {
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      font-size: 2.26rem;
      font-weight: 300;
      line-height: 1.35em;
      letter-spacing: .01em;
      color: @primaryColorCommon__lighten;
      text-align: center;

      &__icon {

        &-after::after,
        &-before::before {
          font-family: @font__icon;
          font-size: 1.7em;
          content: '\e901';
          display: block;
        }

        &-after::after {
          margin: 1.6rem 0 0 0;
        }
        &-before::before {
          margin: 0 0 1.6rem 0;
        }
      }
    }
  }
}

.daily-tasks {
  .task-list-block-controls {
    justify-content: flex-end;
  }
}

.global-tasks {
  .task-list-block-controls {
    justify-content: space-between;
  }
}

.tasks-grp-by-category {
  margin: 1.4375rem 0 0 0;

  &__heading {
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    padding: 0 0 0 1.5em;
    text-transform: uppercase;

    &::after {
      position: absolute;
      content: '';
      left: -.25rem;
      z-index: 100;
      top: -.125rem;
      width: 1.125rem;
      height: 1.125rem;
      background: url(../../assets/img/label_sprite.png);
      background-repeat: no-repeat;
    }
  }

  .task-list {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: .5625rem;
      height: ~"calc(100% + 1.5625rem)";
      content: '';
    }
  }
}

.addTaskListCategory(work, @categoryWork, -1px, -1px);
.addTaskListCategory(education, @categoryEducation, -77px, -1px);
.addTaskListCategory(hobby, @categoryHobby, -58px, -1px);
.addTaskListCategory(sport, @categorySport, -39px, -1px);
.addTaskListCategory(other, @categoryOther, -20px, -1px);
