body {
  color: #fff;
  background-color: #2a3f50;
}

.main {
  width: 86.8%;
  margin: 0 auto;
  padding: 6.1em 0 4.6875em 0;
}

.aside {
  position: absolute;
  top: 7.3%;
  right: 6.2%;
}

.common-state .aside {
  position: absolute;
  top: auto;
  right: auto;
  left: -9999px;

  overflow: hidden;
}

.settings-tabs {
  margin: 4.98em 0 0 0;
}

.header {
  text-align: center;
}

.header-main {
  font-size: 1.75rem;
  font-weight: 700;

  letter-spacing: .02em;
}

.header-sub {
  font-size: 1.25rem;
  font-weight: 300;

  margin: 1.25em 0 0 0;

  letter-spacing: .03em;

  color: #8da5b8;
}

.settings-list {
  font-family: 'PT Sans', sans-serif;
  font-size: .875em;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;

  width: 73.7%;
  margin: 5.42em auto 0 auto;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.settings-list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 0 0 0 5.125em;
  margin: 0 0 3.9em 0;
}

.settings-list-item-heading,
.action {
  display: inline-block;
}

.changing-state .action-viewport {
  color: #fff;
}

.settings-list-item-heading {
  position: relative;
  text-transform: uppercase;

  width: 10em;
}

.settings-list-item-heading:after {
  position: absolute;
  top: 50%;
  left: -2.6em;

  width: 1.18em;
  height: 1.18em;

  content: '';
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);

  border-radius: 50%;
}

.after-orange .settings-list-item-heading:after {
  background-color: #ffb200;
}

.after-dark-turquoise .settings-list-item-heading:after {
  background-color: #00d4d9;
}

.after-picton-blue .settings-list-item-heading:after {
  background-color: #59abe3;
}

.settings-list-item-text {
  line-height: 1.2em;

  color: #8da5b8;
  margin: .7em 0 0 0;
}

.cycle-chart {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;

  margin: .38em 0 0 0;
}

.cycle-chart-heading {
  font-size: 1.25em;
  font-weight: 700;

  margin: 0 0 1.9em 0;

  text-align: center;
}

.cycle-chart__chart {
  height: .75em;

  background-color: #ffb200;
}

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;

  width: 22%;
  margin: 5.2em auto 0 auto;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
}

.changing-state .controls .btn:first-child,
.common-state .controls .btn {
  position: absolute;
  top: auto;
  right: auto;
  left: -9999px;

  overflow: hidden;
}

.common-state .controls {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
}

.common-state .controls .btn:first-child {
  position: static;
}
