html,
body {
  position: relative;

  height: 100%;

  /* !!! ATTENTION !!! */
  width: 1365px;
  height: 765px;
}

main,
header,
footer,
aside,
section,
article,
nav,
figure {
  display: block;
}

button,
input {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:active {
  outline: none;
}

input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-niagara {
  display: block;
}

.btn-niagara {
  font-size: 1.125rem;
  font-weight: bold;

  width: 6.8333em;
  height: 2.3333em;

  color: #fff;
  background-color: #1abc9c;
}

.btn-niagara:hover,
.btn-niagara:focus {
  background-color: #62d3bd;
}

.btn-niagara:active {
  background-color: #62d3bd;
}
