<div class="page-wrapper">
  <main class="main">
    <header class="header header-flex">
      <figure class="header-logo">
        <img class="header-logo-image" src="img/Logo.svg" title="Logo" alt="Logo image">
      </figure>
    </header>
    <button class="main-top-add-btn" type="button">Daily Task List</button>
  </main>
</div>
